.book-stat {
  display: flex;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  align-items: center;

  &__rating {
    margin-top: -8px;
  }
  .stars {
    display: flex;
    margin-top: 0.2rem;
  }
  .separator {
    height: 25px;
    width: 1px;
    background-color: #dddddd;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .counts-container {
    display: flex;
    align-items: center;
  }
  .column {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
  }
}
